html, body {
  margin: 0; /* Remove default margin */
  height: 100%; /* Ensure the body takes full height */
  overflow: hidden; /* Prevent body scrolling; manage scrolling within the container */
}

.resume-section {
  padding-top: 120px; /* Adjust based on navbar height */
  width: 100%; /* Full width of the section */
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items at the top */
  position: relative; /* Position relative for absolute children */
  overflow: hidden; /* Prevent overflow */
  background-color: transparent;
}

.pdf-container {
  width: 70%; /* Set width of the container */
  height: 100%; /* Set height to allow for scrolling */
  overflow: auto; /* Allow scrolling if needed */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center the image horizontally */
  align-items: flex-start; /* Align items at the top */
  background-color: transparent;
}

.resume-image {
  width: 100%; /* Set width to fill the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure it behaves as a block element */
  background-color: transparent;
}

.resume-background {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -20%;
  background: url('images/2.png') no-repeat center center/cover;
  z-index: -1;
}


